<h1>Posts</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Slug</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr id="post_<%= post.id %>">
        <td><%= post.title %></td>
        <td><%= truncate(post.content, length: 50) %></td>
        <td><%= post.slug %></td>
        <td>
          <%= link_to 'Show', post_path(post), class: 'btn btn-primary' %>
          
          <%= form_for(post, method: :delete, class: 'd-inline') do |f| %>
            <%= f.submit 'Delete', class: 'btn btn-danger', data: { confirm: 'Are you sure?' } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Post', new_post_path, class: 'btn btn-primary' %>
